<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>Nasa Rover besides a human</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="mb-4">
            <h1 class="text-center">A real human besides Perseverance</h1>
        </div>
        <div class="row align-items-center">
            <div class="col d-flex justify-content-center align-items-center">
                <img src="../static/images/human_besides_a_rover.jpg" class="img-fluid img-thumbnail    " alt="Kid besides Perseverance"
                     style="max-width: 100%; height: 30rem;">
            </div>
        </div>
    </div>
</body>
</html>